*{
	margin:0;
	padding:0;
}
.total{
	width:100%;
}

.medio{
	width:50%;
	float:left;
}

.verde{
	backgrounf: green;
}

.rojo{
	background:red;
}

header, footer{
	text-aligne: center;
}

.text-center{
	text-aligne: center; 
}
main{
	width:70%;
	float:left;
}

aside{
	width:30%;
	float:left;
}
aside img{ max-width:100%; }